html {
  font-size: 1em;
  line-height: 1.5em,
}

body {
  margin: 0;
  padding: 0;
  font-family: AvenirLT, Helvetica, Arial, sans-serif;
  background-color: @color-primary;
  color: @color-white;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  font-family: Dezen, Helvetica, Arial, sans-serif;
}

h1,.h1 {
  font-size:3.375em;line-height:1.33333em;margin-bottom:0.2963em;
}
h2,.h2 {
  font-size:1.875em;line-height:1.2em;margin-bottom:0.4em;
}
h3,.h3 {
  font-size:1.625em;line-height:1.19231em;margin-bottom:0.30769em;
}
h3,.h3 {
  font-size:1em;text-transform:uppercase;letter-spacing:0.1em;
}
h4,.h4 {
  font-size:1.3125em;line-height:1.14286em;margin-bottom:0.38095em;
}
h5,.h5 {
  font-size:1em;line-height:1.5em;margin-bottom:1.5em;
}
h6,.h6,.section-title {
  font-size:0.875em;line-height:1.5em;margin-bottom:0.28571em;
}

a, a:visited {
  transition: color 0.1s;
  color: @color-secondary;
  text-decoration: none;
}

a:hover {
  color: @color-white;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
